.calculator {
    width: 300px;
    background-color: transparent;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  #display {
    width: 296px;
    height: 200px;
    font-size: 40px;
    text-align: start;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    outline: none;
    background-color: rgb(27, 25, 138);
    color: rgb(182, 176, 212);
  }
  
  .buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .Numbers{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .Operators{
    width: 30%;
    display: grid;
  }
  
  button {
    font-size: 24px;
    background-color: rgb(7, 7, 66);
    color: rgb(182, 176, 212);
    padding: 10px;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: rgb(4, 4, 56);
  }

  #button-bottom-left{
    border-bottom-left-radius: 15px;
  }

  #button-bottom-right{
    border-bottom-right-radius: 15px;
  } 
  .cal{
    padding: 10px;
    background-color: rgb(27, 25, 138);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
 
  }
  .cal1{
    background-color: white;
    border-radius: 50%;
    height:15px;
    width:15px;
    
  }
  .cal2{
    background-color: white;
    border-radius: 50%;
    height:12px;
    width:12px;
    margin: 10px;
  }
  .cal3{
    display: flex;
    flex-wrap: wrap;
  }
  
